.modal,
.modal-agree {
    background-color: rgba(0, 0, 0, .25);
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10001;

    &._active {
        display: flex;
    }

    &__inner {
        background-color: #fff;
        border-radius: 5px;
        padding: 1.5rem;
        max-width: 360px;
    }

    &__title {
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: .5rem;
    }

    &__description {
        margin-bottom: 1.25rem;
    }
}

.modal-favorite {
    &__button {
        font-size: .93rem;
        padding: .5rem 1.1rem;
    }
}

.modal-agree {
    &__inner {
        max-width: 80vw;
    }

    &__description {
        overflow: auto;
    }
}