@import './ui/';
@import './components/';

.admin-wrapper {
    display: flex;
    min-height: 100vh;

    @media (max-width: 1024px) {
        display: block;
    }
}

.admin-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &__top {
        background-color: #000;
        display: flex;
        align-items: center;
        column-gap: 20px;
        justify-content: flex-end;
        padding: 24px 20px;

        &_item {
            color: #fff;
            display: flex;
            align-items: center;
            column-gap: 8px;
        }

        &_alert {
            position: relative;

            &_count {
                background-color: red;
                border-radius: 12px;
                text-align: center;
                position: absolute;
                right: 0;
                transform: translateY(-25%);
                padding: 0 5px;
                min-width: 12px;
            }
        }
    }

    &__inner {
        flex-grow: 1;
        padding: 24px 20px;
    }

    &__burger {
        display: none;
        flex-direction: column;
        justify-content: center;
        row-gap: 6px;
        margin-right: auto;
        width: 24px;
        min-width: 24px;
        height: 24px;

        &::before,
        &::after,
        span {
            background-color: #fff;
            content: "";
            display: inline-block;
            width: 100%;
            height: 2px;
        }
    }

    @media (max-width: 1024px) {
        &__top {
            font-size: 14px;
            column-gap: 5px;
            padding: 12px;
        }

        &__burger {
            display: flex;
        }

        &__inner {
            padding: 12px;
        }
    }

    @media (max-width: 480px) {
        &__top {
            &_alert {
                &_count {
                    transform: translateY(-100%);
                }

                svg {
                    display: none;
                }
            }
        }
    }
}

.admin-buttons {
    display: flex;
    grid-gap: .25rem;
}