@import './ui/';
@import './components/';

.admin-wrapper {
    display: flex;
    min-height: 100vh;
}

.admin-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &__top {
        background-color: #000;
        display: flex;
        align-items: center;
        column-gap: 20px;
        justify-content: flex-end;
        padding: 24px 0;
        padding-right: 20px;

        &_item {
            color: #fff;
            display: flex;
            align-items: center;
            column-gap: 8px;
        }

        &_alert {
            position: relative;

            &_count {
                background-color: red;
                border-radius: 12px;
                text-align: center;
                position: absolute;
                right: 0;
                transform: translateY(-25%);
                padding: 0 5px;
                min-width: 12px;
            }
        }
    }

    &__inner {
        flex-grow: 1;
        padding: 24px 20px;
    }
}

.admin-buttons {
    display: flex;
    grid-gap: .25rem;
}