.section-title {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 125%;
    margin-bottom: 3.75rem;

    &-big {
        @extend .section-title;
        font-size: 3rem;
    }


    @media (max-width: 768px) {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;

        &-big {
            @extend .section-title;
            font-size: 2rem;
        }
    }
}