.admin-button {
    background-color: rgb(0, 204, 51);
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    padding: 8px 12px;
    transition: 200ms;
    text-decoration: none;

    &:hover {
        background-color: rgb(0, 187, 0);
        color: #fff;
        text-decoration: none;
    }

    &:active {
        background-color: rgb(0, 204, 68);
        color: #fff;
        text-decoration: none;
    }

    &-red {
        @extend.admin-button;
        background-color: rgb(240, 10, 10);

        &:hover {
            background-color: rgb(232, 12, 5);

        }

        &:active {
            background-color: rgb(200, 10, 10);
        }
    }

    &-add {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        margin-bottom: 1rem;
        width: 100%;
        max-width: 7rem;

        &__plus {
            font-size: 1.25rem;
        }

        &-form {
            @extend .admin-button-add;
            margin-left: 0;
            max-width: 9.5rem;
        }
    }

    &-edit {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 20px;
        height: 20px;

        svg {
            flex-shrink: 0;
        }
    }

    &__margin-top {
        margin-top: 1.25rem;
    }

    &-gradient {
        background: linear-gradient(225deg, #FF9211 0%, #F11 100%);
        color: #fff;

        &:disabled {
            background: linear-gradient(225deg, #FF9211 0%, #F11 10%);
            color: rgba(255, 255, 255, .8);
        }
    }

    @media (max-width: 1024px) {
        &__margin-top {
            margin-top: .33rem;
        }
    }
}