.admin-filter {
    display: flex;
    align-items: flex-end;
    column-gap: 10px;
    margin-bottom: 48px;

    &__inputs {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        grid-gap: 10px;
        width: 100%;

        &>* {
            flex-grow: 1;
            flex-basis: calc(25% - 10px);
        }
    }

    &__button {
        border: 1px solid transparent;
        font-size: 16px;

        &s {
            display: flex;
            column-gap: 4px;
        }
    }

    @media (max-width: 1100px) {
        margin-bottom: 32px;

        &__inputs {

            &>* {
                flex-basis: calc(33% - 5px);
            }
        }

        &__button {
            &s {
                flex-direction: column;
                row-gap: 8px;
            }
        }
    }

    @media (max-width: 620px) {
        margin-bottom: 20px;

        &__inputs {

            &>* {
                flex-basis: calc(50% - 5px);
            }
        }
    }

    @media (max-width: 500px) {
        flex-direction: column;

        &__button {
            &s {
                flex-direction: row;
                margin-top: 12px;
            }
        }
    }
}