.admin-filter {
    display: flex;
    align-items: flex-end;
    column-gap: 10px;
    margin-bottom: 48px;

    &__inputs {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        grid-gap: 10px;

        &>* {
            flex-basis: calc(25% - 10px);
        }
    }

    &__button {
        border: 1px solid transparent;
        font-size: 16px;

        &s {
            display: flex;
            column-gap: 4px;
        }
    }
}