.admin-form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    &__flex {
        display: flex;
        column-gap: 10px;

        &>* {
            flex-basis: calc(25% - 10px);
        }

        &_long {
            flex-basis: calc(50% - 10px);
        }

        &_100 {
            flex-basis: 100%;
        }
    }

    &__gird {
        display: grid;
        grid-gap: 10px;
    }

    &__image {
        max-width: 500px;
    }
}

.playlist-grid {
    grid-template-columns: repeat(3, 1fr);

    &__description {
        // grid-area: 1/ 2 /
        grid-column: 2/4;
        grid-row: 1/3;
        height: 100%;
    }
}