.admin-form {
    display: flex;
    flex-direction: column;
    row-gap: .625rem;

    &__flex {
        display: flex;
        column-gap: .625rem;

        &>* {
            flex-basis: calc(25% - .625rem);
        }

        &_long {
            flex-basis: calc(50% - .625rem);
        }

        &_100 {
            flex-basis: 100%;
        }
    }

    &__gird {
        display: grid;
        grid-gap: .625rem;
    }

    &__image {
        max-width: 500px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: .75rem;
    }

    &__item {
        display: flex;
        align-items: center;
        column-gap: .625rem;
    }

    &__slides {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: .625rem;
        
        &_item {
            flex-direction: column;
            row-gap: .75rem;
        }

        &_form {
            display: flex;
            align-items: flex-start;
            justify-content: center;
        }

        img {
            max-height: 4.25rem;
        }
    }
}

.playlist-grid {
    grid-template-columns: repeat(3, 1fr);

    &__description {
        // grid-area: 1/ 2 /
        grid-column: 2/4;
        grid-row: 1/3;
        height: 100%;
    }
}