.admin-grid {

    &__titles,
    &__content_item {
        display: grid;
        grid-gap: 5px;
        word-break: break-all;
        overflow-wrap: anywhere;
    }

    &__titles {
        font-weight: 600;
        margin-bottom: 20px;
    }

    &-notice {

        &__titles,
        &__content_item {
            grid-template-columns: .2fr 0.7fr 2fr .5fr .5fr repeat(2, 1fr) 152px;
            padding: 8px 4px;
        }

        &__content_item {
            border-bottom: 1px solid #000;
            font-size: 16px;
            // padding-bottom: 8px;
            margin-bottom: 8px;

            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
    }
}