.admin-grid {

    &__titles,
    &__content_item {
        display: grid;
        grid-gap: 5px;
        padding: 8px 4px;
        word-break: break-all;
        overflow-wrap: anywhere;
    }

    &__titles {
        font-weight: 600;
        margin-bottom: 20px;
    }

    &__content_item {
        border-bottom: 1px solid #000;
        font-size: 16px;

        &._active {
            font-weight: 700;
        }

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }

    &-notice {

        &__titles,
        &__content_item {
            grid-template-columns: auto 0.7fr 2fr .5fr .5fr 1fr 1fr 152px;
        }
    }

    &-music {

        &__titles,
        &__content_item {
            grid-template-columns: auto 1fr 1.8fr 1fr .5fr .7fr .6fr .6fr 152px 16px;
        }
    }

    &-user {

        &__titles,
        &__content_item {
            grid-template-columns: auto repeat(4, 1fr) .7fr 152px 16px;
        }
    }

    &-statistic {

        &__titles,
        &__content_item {
            grid-template-columns: auto 1fr .7fr 152px;
        }
    }

    &-subscription {

        &__titles,
        &__content_item {
            grid-template-columns: auto .5fr 1fr .5fr 152px 152px;
        }

        &-client {

            &__titles,
            &__content_item {
                grid-template-columns: auto .5fr .5fr 152px 152px;

            }
        }
    }

    &-page {

        &__titles,
        &__content_item {
            grid-template-columns: auto .5fr 1fr 152px 16px;
        }
    }

    &-playlist {

        &__titles,
        &__content_item {
            grid-template-columns: auto 1.3fr repeat(4, 1fr) .5fr 152px 16px;
        }
    }

    &-music-kit {

        &__titles,
        &__content_item {
            grid-template-columns: auto 1fr 1.75fr 1fr .5fr 152px 16px;
        }
    }

    &-component {

        &__titles,
        &__content_item {
            grid-template-columns: auto 1fr 152px 16px;
        }
    }

    &-subscription_type {

        &__titles,
        &__content_item {
            grid-template-columns: auto 2fr 1fr 80px 152px 16px;
        }
    }

    &-remove-claim-client {

        &__titles,
        &__content_item {
            grid-template-columns: auto 1.35fr 1.65fr .5fr 152px;
        }
    }
}