.admin-input {
    border: 1px solid #979797;
    background-color: #f9f9f9;
    font-size: 16px;
    transition: 200ms;
    padding: 8px 12px;
    width: 100%;

    &:hover {
        background-color: #e9e9e9;
    }

    &:focus {
        background-color: #eaeaea;
    }
}

.admin-checkbox {
    display: flex;

    &__input {
        display: none;

        &:checked+.admin-checkbox__icon {
            &::before {
                opacity: 1;
            }
        }
    }

    &__icon {
        border: 1px solid #979797;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 8px;
        width: 16px;
        min-width: 16px;
        height: 16px;

        &::before {
            border-top: 2px solid #979797;
            border-right: 2px solid #979797;
            content: "";
            display: inline-block;
            opacity: 0;
            transition: 200ms;
            transform: rotate(135deg);
            margin-top: -3px;
            width: 8px;
            height: 5px;
        }
    }
}