h2 {
    margin-bottom: 20px;

    @media (max-width: 768px) {
        font-size: 20px;
    }
}

h3 {
    margin-bottom: 10px;

    @media (max-width: 768px) {
        font-size: 16px;
    }
}

.form-section {
    margin-bottom: 20px;
}

.link {
    color: #ff3111;
    font-weight: 600;
}

.pre-table {
    overflow: auto;
}

.channels-table,
.licenses-table,
.subscription-table {
    border-collapse: collapse;
    overflow: auto;
    width: 100%;

    th,
    td {
        border-bottom: 1px solid #ddd;
        text-align: left;
        padding: 8px;
    }

    .thead {
        tr {
            background: linear-gradient(225deg, #FF9211 0%, #F11 100%);
            color: white;
        }
    }

    td:nth-child(2) {
        text-align: left;
    }

    tr {
        &:hover {
            background-color: #f5f5f5;
        }

        &:nth-child(even) {
            background-color: #f2f2f2;
        }
    }

    @media (max-width: 768px) {
        font-size: 14px;

        th,
        td {
            padding: 4px;
        }
    }
}

.btn-download {
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f7f7f7;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-color: #fff;
    padding: 10px 20px;

    &__container {
        position: relative;
        text-align: center;
    }

    @media (max-width: 768px) {
        &__container {
            margin-bottom: 10px;
        }

    }
}

.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    padding: 0 20px;
    overflow: auto;

    a {
        color: #333;
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 14px 20px;
        text-decoration: none;
        transition: .3s;

        &:hover,
        &.active {
            background: linear-gradient(225deg, #FF9211 0%, #F11 100%);
            color: white;
        }
    }

    @media (max-width: 768px) {
        justify-content: initial;

        a {
            font-size: 13px;
            padding: 10px;
        }
    }
}

.container {
    flex: 1;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: auto;

    @media (max-width: 768px) {
        padding: 0;
    }
}

.content {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    @media (max-width: 768px) {
        font-size: 14px;

        .admin-button {
            font-size: 13px;
        }
    }
}

.footer {
    @extend .header;
    color: var(--dark);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    right: 0;
}