.admin-form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    &__flex {
        display: flex;
        column-gap: 10px;

        &>* {
            flex-basis: calc(25% - 10px);
        }

        &_long {
            flex-basis: calc(50% - 10px);
        }
    }
}