@import './../reset';
@import './../utils';
@import './ui';
@import './components';
@import './sections';
@import './fonts';

:root {
    --border-color: rgba(27, 18, 30, 0.10);
    --main-color: #FF9211;
    --white: #fff;
    --dark: #1B121E;
    --gradient: linear-gradient(225deg, #FF9211 0%, #F11 100%);
    --gradient-opacity: linear-gradient(225deg, rgba(255, 146, 17, .03) 0%, rgba(255, 17, 17, .03) 100%);
}

html,
body,
.wrapper {
    color: var(--dark);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.auth-form {
    width: 100%;
    max-width: 300px;

    &__title {
        font-size: 32px;
        text-align: center;
        margin-bottom: 32px;
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
        margin-bottom: 16px;
    }

    &__button {
        @extend .button-gradient;
        font-size: .93rem;
        text-transform: uppercase;
        padding: .5rem;
        margin-bottom: 5px;
        width: 100%;
    }

    &__bottom {
        font-size: 14px;
        text-align: center;
    }

    &__link {
        color: rgb(16, 220, 220);

        &:hover {
            text-decoration: underline;
        }
    }

    &-register {
        max-width: 600px;

        &__inputs {
            flex-direction: row;
            flex-wrap: wrap;

            &>* {
                flex-basis: calc(50% - 5px);
            }
        }

        &__label-long {
            flex-basis: 100%;
        }

        &__button {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 50%;
        }
    }
}

.main {
    flex-grow: 1;
}

.label {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    font-size: 14px;
}

.input {
    border: 1px solid var(--border-color);
    border-radius: .625rem;
    padding: 1.2rem;
}

.input-form {
    border: 1px solid #979797;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
    transition: 200ms;
    padding: 8px 12px;
    width: 100%;

    &[type="time"] {
        padding: 6px 12px;
    }

    &:hover {
        background-color: #e9e9e9;
    }

    &:focus {
        background-color: #eaeaea;
    }
}

.label {
    display: flex;
    flex-direction: column;
    row-gap: .33rem;

    &__name {
        opacity: 0.6;
    }
}

.feedback {
    margin-bottom: 8rem;

    &__title {
        text-align: center;
        margin-bottom: 2rem;
    }

    &__social {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 2.75rem;

        &_link {
            display: flex;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    &__button {
        align-self: flex-end;
        margin-left: auto;
    }

    @media (max-width: 768px) {
        margin-bottom: 4rem;

        &__title {
            margin-bottom: 1rem;
        }

        &__social {
            margin-bottom: 1.75rem;
        }

        &__form {
            row-gap: .33rem;
        }
    }
}

.pricing {
    margin-bottom: 8rem;

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1.25rem;
        margin-bottom: 5rem;
    }

    &-item {
        &__block {
            border-radius: .625rem;
            display: flex;
            flex-direction: column;
            padding: 1.25rem;
            position: relative;

            &::before {
                background: var(--gradient);
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                opacity: .03;
                width: 100%;
                height: 100%;
                z-index: -1;
            }
        }

        &__title {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: .33rem;
        }

        &__info {
            font-size: 1.125rem;
            margin-bottom: 1.5rem;
        }

        &__button {
            align-self: center;
            padding: .75rem 1.5rem;
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
        grid-gap: .5rem;
    }

    &__button {
        padding: 1rem 1.5rem;
    }

    @media (max-width: 1024px) {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 576px) {
        &__list {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.about {
    padding-bottom: 8rem;

    &__title,
    &__subtitle {
        text-align: center;
        margin-bottom: 1rem;
    }

    &__description {
        margin-bottom: 3.5rem;
    }

    &__founder {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        grid-gap: 1.5rem;
        margin-bottom: 4rem;
        width: 100%;
    }
}

.founder {

    &-item {
        position: relative;
        width: 100%;
        max-width: 300px;

        &__image {
            position: relative;
            padding-top: 100%;
        }

        &__img {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }

        &__social {
            display: flex;
            column-gap: .75rem;
            position: absolute;
            left: 50%;
            bottom: 1rem;
            transform: translateX(-50%);
        }
    }
}

.track {
    padding-bottom: 5rem;

    &__top {
        padding: 3.75rem 0;
        position: relative;

        &::before {
            background: var(--gradient);
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            opacity: .03;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }

    &__info {
        display: flex;
        grid-gap: 2rem 5rem;
        margin-bottom: 4rem;
    }

    &__image {
        position: relative;
        width: 100%;
        max-width: 22.5rem;

        &_inner {
            padding-top: 100%;
        }
    }

    &__img {
        border-radius: 1.25rem;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &__artist {
        font-size: 1.5rem;
        margin: 1.87rem 0 3.25rem;
        opacity: 0.6;
    }

    &__category {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem 7.75rem;
    }

    .tracks__title {
        margin-bottom: 2rem;
    }
}

.track-version {
    &__name {
        font-weight: 700;
        margin-bottom: 1.75rem;
    }

    &__item {
        &::before {
            background: #fff;
            opacity: 1;
        }
    }
}

.category-item {
    &__name {
        margin-bottom: 2rem;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        grid-gap: .625rem;
    }

    &__link {
        border: 1px solid var(--border-color);
        border-radius: 1.87rem;
        display: inline-block;
        padding: 1rem 1.56rem;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    @media (max-width: 768px) {
        &__link {
            padding: .93rem;
        }
    }
}