@import './../reset';
@import './../utils';
@import './ui';
@import './components';
@import './sections';
@import './fonts';

:root {
    --border-color: rgba(27, 18, 30, 0.10);
    --main-color: #FF9211;
    --white: #fff;
    --dark: #1B121E;
    --gradient: linear-gradient(225deg, #FF9211 0%, #F11 100%);
    --gradient-opacity: linear-gradient(225deg, rgba(255, 146, 17, .03) 0%, rgba(255, 17, 17, .03) 100%);
}

html,
body,
.wrapper {
    color: var(--dark);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    height: 100%;
}

input[type=range][orient=vertical] {
    accent-color: #f11;
    writing-mode: bt-lr;
    appearance: slider-vertical;
    outline: none;
    width: 4px;
    height: 80px;
    padding: 0 8px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.label {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    font-size: 14px;
}

.input {
    border: 1px solid var(--border-color);
    border-radius: .625rem;
    padding: 1.2rem;
}

.input-form {
    border: 1px solid #979797;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
    transition: 200ms;
    padding: 8px 12px;
    width: 100%;

    &[type="time"] {
        padding: 6px 12px;
    }

    &:hover {
        background-color: #e9e9e9;
    }

    &:focus {
        background-color: #eaeaea;
    }
}

.label {
    display: flex;
    flex-direction: column;
    row-gap: .33rem;

    &__name {
        opacity: 0.6;
    }
}

.error {
    color: rgb(240, 60, 60);
    font-size: 14px;
}

.success {
    color: rgb(0, 204, 51);
    font-size: 14px;
}

.banner-main {
    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;

        img {
            max-width: 100px
        }
    }
}

.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.auth-form {
    width: 100%;
    max-width: 300px;

    &__title {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    &__success {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: .25rem;
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        grid-gap: .625rem;
        margin-bottom: 1rem;
    }

    &__button {
        @extend .button-gradient;
        font-size: .93rem;
        text-transform: uppercase;
        padding: .5rem;
        margin-bottom: 5px;
        width: 100%;
    }

    &__bottom {
        font-size: 14px;
        text-align: center;
    }

    &__link {
        color: rgb(16, 220, 220);

        &:hover {
            text-decoration: underline;
        }
    }

    &-register {
        max-width: 600px;

        &__inputs {
            flex-direction: row;
            flex-wrap: wrap;

            &>* {
                flex-basis: calc(50% - 5px);
            }
        }

        &__label-long {
            flex-basis: 100%;
        }

        &__button {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 50%;
        }
    }
}


.feedback {

    &__title {
        text-align: center;
        margin-bottom: 2rem;
    }

    &__social {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 2.75rem;

        &_link {
            display: flex;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    &__button {
        align-self: flex-end;
        margin-left: auto;
    }

    @media (max-width: 768px) {
        margin-bottom: 4rem;

        &__title {
            margin-bottom: 1rem;
        }

        &__social {
            margin-bottom: 1.75rem;
        }

        &__form {
            row-gap: .33rem;
        }

        &__button {
            width: 100%;
        }
    }
}

.pricing {
    margin-bottom: 8rem;

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1.25rem;
        margin-bottom: 5rem;
    }

    &-item {
        &__block {
            border-radius: .625rem;
            display: flex;
            flex-direction: column;
            padding: 1.25rem;
            position: relative;

            &::before {
                background: var(--gradient);
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                opacity: .03;
                width: 100%;
                height: 100%;
                z-index: -1;
            }
        }

        &__title {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: .33rem;
        }

        &__info {
            font-size: 1.125rem;
            margin-bottom: 1.5rem;
        }

        &__button {
            align-self: center;
            padding: .75rem 1.5rem;
        }

        &__advantages {
            margin-top: 1.25rem;
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
        grid-gap: .5rem;
    }

    &__button {
        padding: 1rem 1.5rem;
    }

    @media (max-width: 1024px) {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 576px) {
        &__list {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.about {

    &__title,
    &__subtitle {
        text-align: center;
        margin-bottom: 1rem;
    }

    &__description {
        margin-bottom: 3.5rem;
    }

    &__founder {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        grid-gap: 1.5rem;
        margin-bottom: 4rem;
        width: 100%;
    }
}

.founder {

    &-item {
        position: relative;
        width: 100%;
        max-width: 300px;

        &__image {
            position: relative;
            padding-top: 100%;
        }

        &__img {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }

        &__social {
            display: flex;
            column-gap: .75rem;
            position: absolute;
            left: 50%;
            bottom: 1rem;
            transform: translateX(-50%);
        }
    }
}

.track {
    padding-bottom: 5rem;

    &__top {
        padding: 3.75rem 0;
        position: relative;

        &::before {
            background: var(--gradient);
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            opacity: .03;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }

    &__info {
        display: flex;
        align-items: flex-start;
        column-gap: 5rem;
        margin-bottom: 4rem;
    }

    &__image {
        position: relative;
        width: 100%;
        max-width: 22.5rem;

        &_inner {
            padding-top: 100%;
        }
    }

    &__img {
        border-radius: 1.25rem;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &__artist {
        font-size: 1.5rem;
        margin-bottom: 3.25rem;
        opacity: 0.6;
    }

    &__category {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem 7.75rem;
    }

    .tracks__title {
        margin-bottom: 2rem;
    }

    @media (max-width: 1024px) {
        padding-bottom: 1.56rem;

        &__top {
            padding: 1.56rem;
        }

        &__info {
            column-gap: 2rem;
        }

        &__artist {
            margin-bottom: 1.5rem;
        }
    }

    @media (max-width: 768px) {
        &__category {
            grid-template-columns: 1fr;
        }
    }

    @media (max-width: 600px) {
        &__image {
            margin-right: auto;
            max-width: 150px;
        }

        &__info {
            row-gap: 1.87rem;
            flex-direction: column;
            margin-bottom: 2.25rem;
        }
    }
}

// .track {
//     padding-bottom: 5rem;

//     &__top {
//         padding: 3.75rem 0;
//         position: relative;

//         &::before {
//             background: var(--gradient);
//             content: "";
//             position: absolute;
//             top: 0;
//             left: 0;
//             opacity: .03;
//             width: 100%;
//             height: 100%;
//             z-index: -1;
//         }
//     }

//     &__info {
//         display: flex;
//         align-items: flex-start;
//         column-gap: 5rem;
//         margin-bottom: 4rem;
//     }

//     &__image {
//         position: relative;
//         width: 100%;
//         max-width: 22.5rem;

//         &_inner {
//             padding-top: 100%;
//         }
//     }

//     &__img {
//         border-radius: 1.25rem;
//         position: absolute;
//         left: 0;
//         top: 0;
//         width: 100%;
//         height: 100%;
//     }

//     &__artist {
//         font-size: 1.5rem;
//         margin-bottom: 3.25rem;
//         opacity: 0.6;
//     }

//     &__category {
//         display: grid;
//         grid-template-columns: repeat(2, 1fr);
//         grid-gap: 2rem 7.75rem;
//     }

//     .tracks__title {
//         margin-bottom: 2rem;
//     }

//     @media (max-width: 1024px) {
//         &__info {
//             column-gap: 2rem;
//         }

//         &__artist {
//             margin-bottom: 1.5rem;
//         }
//     }

//     @media (max-width: 768px) {
//         &__category {
//             grid-template-columns: 1fr;
//         }
//     }

//     @media (max-width: 600px) {
//         &__image {
//             margin: 0 auto;
//         }

//         &__info {
//             row-gap: 3rem;
//             flex-direction: column;
//         }
//     }
// }

.track-version {
    &__name {
        font-weight: 700;
        margin-bottom: 1.75rem;
    }

    &__item {
        &::before {
            background: #fff;
            opacity: 1;
        }
    }

    @media (max-width: 1024px) {
        &__name {
            margin-bottom: 1.25rem;
        }
    }
}

.category-item {
    &__name {
        margin-bottom: 2rem;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        grid-gap: .625rem;
    }

    &__link {
        border: 1px solid var(--border-color);
        border-radius: 1.87rem;
        display: inline-block;
        padding: 1rem 1.56rem;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    @media (max-width: 768px) {
        &__name {
            margin-bottom: 1.25rem;
        }

        &__link {
            padding: .93rem;
        }
    }
}

.player {
    background-color: var(--white);
    display: flex;
    align-items: center;
    padding: 1.25rem 1.87rem;
    position: fixed;
    bottom: 0;
    transition: 300ms;
    transform: translateY(150%);
    width: 100%;
    z-index: 1000;

    &::before {
        background: var(--gradient);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
    }

    &._active {
        .track-item__button_start {
            opacity: 0;
        }

        .track-item__button_pause {
            opacity: 1;
        }
    }

    &__time {
        margin-right: 1.25rem;
    }

    &__volume {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;

        &:hover {
            .player-volume {
                display: block;
            }
        }

        .player-volume {
            display: none;
            padding-bottom: 3.25rem;
            position: absolute;

            &__inner {
                background-color: var(--white);
                border-radius: .3125rem;
                box-shadow: 0 .3125rem .93rem 0 rgba(27, 18, 30, 0.10);
                padding: .625rem;
                z-index: 1000;
            }

        }
    }

    &._show {
        transform: translateY(0);
    }

    &__switch {
        display: flex;
        align-items: center;
        margin-right: 1.87rem;
    }

    &__button {
        margin: 0 .93rem;
    }

    &__prev,
    &__next {
        display: flex;
    }

    &__text {
        max-width: 10vw;
    }

    &__audio {
        flex-grow: 1;
        margin-right: 1.25rem;
    }

    &__trial {
        margin-left: 2.25rem;
    }

    @media (max-width: 1024px) {
        &__trial {
            margin-left: 1rem;
        }
    }

    @media (max-width: 820px) and (min-height: 400px) {
        flex-wrap: wrap;

        &__switch {
            flex-basis: 80%;
            justify-content: center;
            order: 4;
            margin: 0 0 1.56rem;
        }

        &__name {
            margin-bottom: .875rem;
        }

        &__text {
            flex-basis: 100%;
            flex-grow: 1;
            order: 1;
            max-width: 100%;
        }

        &__audio {
            flex-basis: 100%;
            order: 2;
            margin: 1.56rem 0;
        }

        &__time {
            flex-basis: 10%;
            order: 3;
        }

        svg {
            order: 5;

            &:nth-last-child(3) {
                flex-basis: 10%;
                max-width: 2.5rem;
                min-width: 2.5rem;
            }
        }

        &__trial {
            order: 7;
            margin-left: 0;
        }
    }
}

.player-link {
    background-color: #fff;
    border-radius: .625rem;
    display: flex;
    align-items: center;
    column-gap: .75rem;
    padding: 1rem 1.5rem;
    transform: 400ms;
    // transform: translateX(calc(200% + 1rem));

    &._show {
        transform: translateX(0);
    }

    &s {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        position: fixed;
        right: 1rem;
        bottom: 1.25rem;
        z-index: 1001;
    }

    &__title {
        color: #FF1111;
        font-size: .93rem;
        font-weight: 700;
        margin-bottom: .33rem;
    }

    &__icon {
        border: 1px solid #FF1111;
        border-radius: 50%;
        color: #FF1111;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        width: 1.87rem;
        height: 1.87rem;
    }

    &__url {
        cursor: pointer;
        text-decoration: underline;
    }
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: .5rem;
    margin-top: 2rem;

    &__link {
        background: var(--gradient);
        color: var(--white);
        padding: .5rem .8rem;

        &._active {
            background: var(--white);
            color: var(--dark);
        }
    }
}