.playlist-item {
    display: flex;
    position: relative;

    &__img {
        border-radius: .75rem;
        object-fit: cover;
        width: 100%;
    }

    &__icon {
        background: var(--gradient);
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 1.87rem;
        right: 1.87rem;
        width: 2.5rem;
        height: 2.5rem;
        z-index: 1;
    }

    &__title {
        color: var(--white);
        position: absolute;
        left: 2.5rem;
        bottom: 2.5rem;
        z-index: 1;
    }

    @media (max-width: 480px) {
        &__icon {
            top: 1.5rem;
            right: 1.5rem;
        }

        &__title {
            left: 1.5rem;
            bottom: 1.5rem;
        }
    }
}