.track-item {
    border-radius: .625rem;
    display: flex;
    align-items: center;
    padding: 1.875rem;
    position: relative;

    &::before {
        background: var(--gradient);
        border-radius: inherit;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        opacity: .03;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &._active {
        .track-item__button_start {
            opacity: 0;
        }

        .track-item__button_pause {
            opacity: 1;
        }
    }

    &__info {
        display: flex;
        width: 25%;
    }

    &__img {
        border-radius: .625rem;
        display: flex;
        margin-right: 1.87rem;
        width: 3.75rem;
        min-width: 3.75rem;
        height: 3.75rem;
    }

    &__text {
        display: flex;
        flex-direction: column;
        margin-right: 5.625rem;
    }

    &__free {
        background: var(--gradient);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        color: var(--white);
        font-size: .75rem;
        padding: 6px 10px;
        position: absolute;
        top: 0;
        line-height: 1;
    }

    &__name {
        font-weight: 600;
    }

    &__artist {
        opacity: .6;
    }
   
    &__button {
        &_start,
        &_pause {
            transition: 200ms;
        }

        &_pause {
            opacity: 0;
        }
    }

    &__timer {
        display: flex;
        align-items: center;
        column-gap: 1.25rem;
        margin-right: 1.25rem;
    }

    &__audio {
        flex-grow: 1;
        margin-right: 3.125rem;
    }

    &__buttons {
        display: flex;
        align-items: center;
        grid-gap: 1.25rem;

        &>* {
            display: flex;
        }
    }

    &__favorite {
        &._active {
            svg {
                fill: var(--main-color);

                path {
                    stroke: var(--main-color);
                }
            }
        }
    }

    @media (max-width: 1366px) {
        &__info {
            width: 30%;
        }

        &__img {
            margin-right: 1.5rem;
        }

        &__text {
            margin-right: 1.5rem;
        }

        &__audio {
            margin-right: 2rem;
        }

        &__buttons {
            grid-gap: .625rem;
        }
    }

    @media (max-width: 1024px) {
        padding: 1.56rem;

        &__audio {
            margin-right: 1rem;
        }

        &__buttons {
            grid-gap: .625rem;
        }
    }

    @media (max-width: 820px) {
        flex-wrap: wrap;
        justify-content: space-between;

        &__info {
            order: 1;
            flex-basis: 100%;
            margin-bottom: 1.87rem;
        }

        &__name {
            margin-bottom: 1.25rem;
        }

        &__audio {
            order: 2;
            flex-basis: 100%;
            margin-bottom: 1.87rem;
        }

        &__timer {
            order: 3;
        }

        &__buttons {
            order: 4;
        }
    }
}