.admin-aside {
    background-color: #000;
    padding: 20px;

    &__top {
        display: flex;
        column-gap: 10px;
        margin-bottom: 32px;
    }

    &__burger-close {
        display: none;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 24px;
        height: 24px;
        min-width: 24px;

        &::before,
        &::after {
            background-color: #fff;
            content: "";
            display: inline-block;
            position: absolute;
            transform: rotate(45deg);
            width: 2px;
            height: 100%;
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    &__logo {
        background-color: #fff;
        padding: 15px;
    }

    &__navigation {

        &_link {
            color: #fff;
            display: flex;
            flex-direction: column;
            row-gap: 4px;
            font-size: 16px;
            text-decoration: none;
            padding: 15px;
            width: 100%;

            &:hover {
                color: #fff;
                text-decoration: none;
            }

            &._active {
                &::after {
                    background-color: #fff;
                    display: inline-block;
                    content: "";
                    width: 100%;
                    height: 2px;
                }
            }
        }
    }

    @media (max-width: 1024px) {
        position: fixed;
        left: 0;
        transform: translateX(-150%);
        transition: 500ms;
        height: 100%;
        z-index: 1000;

        &._active {
            transform: translateX(0);
        }

        &__burger-close {
            display: flex;
        }
    }
}