.banner-main {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--white);
    padding: 6.5rem 0 6.25rem;

    &__title {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.25;
        margin-bottom: 3rem;
        max-width: 28rem;
    }

    &__description {
        max-width: 28rem;
    }

    &__button {
        max-width: 11.25rem;
        width: 100%;

        &s {
            display: flex;
            column-gap: 1.25rem;
            margin: 3.75rem 0;
        }
    }

    &__slider {
        overflow: hidden;
    }

    @media (max-width: 768px) {
        padding: 3rem 0;

        &__title {
            margin-bottom: 2rem;
        }

        &__buttons {
            margin: 2.5rem 0 2rem;
        }
    }

    @media (max-width: 480px) {
        padding: 2.75rem 0 1.87ren;

        &__button {
            max-width: 100%;
        }

        &__buttons {
            flex-direction: column;
            row-gap: .93rem;
        }
    }
}