.header {
    padding: 1.87rem 0;

    &__container {
        display: flex;
        align-items: center;
    }

    &-mobile {
        display: none;

        &__burger {}

        &__modal {
            background-color: var(--white);
            display: block;
            transition: 600ms;
            transform: translateX(-150%);
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 10000;

            &_container {
                padding: 1.56rem;
                height: 100%;
            }

            &._active {
                transform: translateX(0%);
            }

            &_top {
                display: flex;
                align-items: center;
                padding-right: 27px;
                margin-bottom: 1rem;
            }
        }

        &__logo {
            margin: 0 auto;
        }

        &__nav {
            display: flex;
            flex-direction: column;
            margin-bottom: 2.25rem;

            &_item {
                border-bottom: 1px solid var(--dark);
                padding: 1.25rem 0;
            }
        }

        &__sing-in {
            display: block;
            padding: 1rem 2rem;
        }
    }



    &__nav {
        display: flex;
        column-gap: 2.5rem;
        margin-left: 3.25rem;
        margin-right: auto;
    }

    &__favorite {
        background: var(--gradient-opacity);
        border-radius: 3.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 3rem;
        position: relative;
        min-width: 3.75rem;
        width: 3.75rem;
        height: 3.75rem;

        &_count {
            background-color: var(--dark);
            color: var(--white);
            border-radius: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            padding: 0 0.35rem;
            position: absolute;
            top: 0;
            right: 0;
            min-width: 25px;
            height: 25px;
        }
    }

    @media (max-width: 1200px) {
        &__nav {
            column-gap: 1.25rem;
            margin-left: auto;
        }
    }

    @media (max-width: 1024px) {
        &__container {
            justify-content: space-between;
        }

        &-mobile {
            display: block;
        }

        &__nav {
            display: none;
        }

        &__favorite {
            background: none;
            margin-right: 0;
            min-width: 1.56rem;
            width: 1.56rem;
            height: 1.56rem;

            svg {
                width: 1.56rem;
                height: 1.56rem;
            }

            &_count {
                border-radius: 15px;
                font-size: 9px;
                top: -.5rem;
                right: -.7rem;
                min-width: 1.25rem;
                height: 1.25rem;
            }
        }

        &__sing-in {
            display: none;
        }
    }
}