.playlist {
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.87rem;
    }

    &__all {
        margin-top: 1.87rem;
    }

    &__filter {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: .625rem;
        margin-bottom: 4.5rem;

        .select {
            min-width: 13rem;
        }
    }

    &__none {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 1/4;
        min-height: 19rem;
    }

    @media (max-width: 1366px) {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }

        &__none {
            grid-column: 1/3;
        }
    }

    @media (max-width: 768px) {
        &__filter {
            overflow-x: auto;
            margin-bottom: 1.5rem;
        }

        .select__list {
            position: static;
            margin-bottom: .75rem;
        }

        &__list {
            grid-template-columns: 1fr;
            grid-gap: 0.93rem;
        }

        &__none {
            grid-column: 1/2;
        }
    }
}