.playlist {
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.87rem;
    }

    &__all {
        margin-top: 1.87rem;
    }

    &__filter {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: .625rem;
        margin-bottom: 4.5rem;
    }

    @media (max-width: 1366px) {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 768px) {
        &__list {
            grid-template-columns: 1fr;
            grid-gap: 0.93rem;
        }
    }
}