.tracks {
    &__filter {
        display: grid;
        grid-template-columns: repeat(5, 1fr); 
        column-gap: .625rem;
        // overflow-x: auto;
        margin-bottom: 4.5rem;

        .select {
            min-width: 13rem;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    &__all {
        margin-top: 1.25rem;
    }
}